#button-new-data {
    background-color: #05445E;
    color: white;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.content {
    margin: 0 auto 60px;
    max-width: 800px;
}
.content-subtitle {
    text-align: center;
    margin: -5px auto 40px;
    font-style: italic;
    color: #05445E;
    font-weight: 200;
    font-size: 26px;
}
.content-title {
    margin-top: 60px;
    text-align: center;
    font-weight: 200;
    font-size: 40px;
}
.paragraph {
    margin: auto;
    font-size: 18px;
}
.paragraph-italic {
    margin: auto;
    font-size: 16px;
    font-style: italic;
    color: #555;
}
.paragraph-italic a {
    color: #555;
}
.parameter {
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    max-width: 150px;
}
.parameter-label {
    margin-bottom: 5px;
    min-width: 200px;
    padding-left: 2px;
}
.parameter-value {
    height: 36px;
    line-height: 34px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.plot {
    display: inline-block;
    max-width: 50%;
}
.plot-full-width {
    width: 100%;
}
.plot-parameters {
    margin: 25px auto 0px;
    justify-content: center;
    display: flex;
}
.plots-two {
    display: flex;
    margin: 0px auto -40px;
}
.resource-link {
    margin-bottom: -40px;
    text-align: right;
}
.resource-link a {
    color: #05445E;
    font-style: italic;
    text-decoration: none;
}
.resource-link a:hover {
    text-decoration: underline;
}
.section-title {
    margin: 40px auto 20px;
    font-weight: 500;
    text-decoration: underline;
}
.table-full-width {
    width: 100%;
    margin-top: 25px;
}
table {
    border-collapse: collapse;
    margin: 0px auto;
}
table td, table th {
    border: 1px solid black;
    padding: 8px;
}
table th {
    background-color: #05445E;
    color: #fafafa;
}
@media (max-width: 1200px) {
    .content {
        max-width: 600px;
    }
}
@media (max-width: 1000px) {
    .content {
        max-width: 400px;
    }
    .plot {
        display: block;
        max-width: 100%;
        margin: 0px auto -40px;
    }
    .plots-two {
        display: block;
    }
}
@media (max-width: 800px) {
    .content {
        max-width: 100%;
    }
    .content-title {
        margin-top: 120px;
    }
}
@media (max-width: 500px) {
    .parameter {
        max-width: 100px;
        margin: 0px auto;
    }
    #plot-cdf, #plot-pdf, #plot-histogram {
        height: 350px;
    }
    table {
        font-size: 12px;
    }
}
