.plot-parameters {
    margin: 25px auto 0px;
    justify-content: center;
    display: flex;
}

.parameter {
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.parameter-label {
    margin-bottom: 5px;
    min-width: 200px;
    padding-left: 2px;
}

.parameter-value {
    height: 36px;
    line-height: 34px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 10px;
}

.plots-distribution {
    display: flex;
    margin: 0px auto -40px;
}
.plot-full-width {
    width: 100%;
}

.plot {
    display: inline-block;
    max-width: 50%;
}
@media (max-width: 1000px) {
    .plots-distribution {
        display: block;
    }
    .plot {
        display: block;
        max-width: 100%;
        margin: 0px auto -40px;
    }
}

@media (max-width: 500px) {
    #normal-plot {height: 350px;}
    #normal-cdf-plot {height: 350px;}
    #histogram-plot {height: 350px;}
}

#button-new-data {
    background-color: #05445E;
    color: white;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 5px;
    margin-top: 5px;
}
